.float-right { float: right; }
.float-left { float: left; }

.relative { position: relative !important; }
.absolute { position: absolute !important; }
.fixed { position: fixed !important; }

.align-center {
  display: flex;
  align-items: center;
}
